<footer>
    <div class="footer-main">
        <div class="row">
            <div class="col-four tab-full mob-full footer-info">
                <!--<div class="footer-logo"></div>-->
                <h2>{{ general_data['platform_name'] }}</h2>
                <p>
                    Bangalore<br>
                    Karnataka India<br>
                    mail@indium.org &nbsp; +123-456-789
                </p>
            </div>
            <div class="col-two tab-1-3 mob-1-2 site-links">
                <h4>Site Links</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-two tab-1-3 mob-1-2 social-links">
                <h4>Social</h4>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Slack</a></li>
                    <li><a href="#">Gitlab</a></li>
                    <li><a href="#">Telegram</a></li>
                </ul>
            </div>
            <div class="col-four tab-1-3 mob-full footer-subscribe">
                <h4>Subscribe</h4>
                <p>Keep yourself updated. Subscribe to our newsletter.</p>
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">
                        <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="type email &amp; hit enter" required="">
                        <input type="submit" name="subscribe" >
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright {{ general_data['org_name'] }}.</span>
                    <span>Maintained by <a href="/#team">Indium Team</a></span>
                </div>
                <div id="go-top" style="display: block;">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
