<section id="intro">
    <div class="shadow-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <!--<div class='video-link'>
                    <a href="#video-popup"><img src="images/play-button.png" alt=""></a>
                </div>-->
                <h5>{{ general_data['org_name'] }}</h5>
                <h1>{{ general_data['platform_name'] }}</h1>
                <a class="button stroke smoothscroll" href="#faq" title="">Learn More</a>
            </div>
        </div>
    </div>

    <div id="video-popup" class="popup-modal mfp-hide">
        <div class="fluid-video-wrapper">
            <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=faec09" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <a class="close-popup">Close</a>
    </div>

</section>
