<header>

    <div class="row">

        <div class="logo">
            <a href="/">Indium</a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll"  href="/#intro" title="">Home</a></li>
                <li><a class="smoothscroll"  href="/#faq" title="">FAQ</a></li>
                <li class="highlight with-sep"><a href="#" title="">Sign Up</a></li>
            </ul>
        </nav>

        <a class="menu-toggle" href="#"><span>Menu</span></a>

    </div>

</header>