<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<section id="faq">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Asset</h5>
            <small>{{ asset_id }}</small>
            <p class="lead">{{ asset_data['description'] }}</p>
        </div>
    </div>
    <div class="row faq-content">
        <p>
        <h3>Bids</h3>
        {% for bid in bids %}
            <p>Bid ID: {{ bid.id }} Asset: {{ bid.asset_id }}, Qty: {{ bid.qty }}, Price: {{ bid.price }}, Buyer IPDB: {{ bid.buyer_ipdb_address }}, Buyer ETH: {{ bid.buyer_eth_address }}</p>
            <p>Timestamp: {{ bid.timestamp }}, ETH Txn Id: {{ bid.eth_txn_id }}</p>
        {% endfor %}

        <form class="pure-form" action="/addbid" method="POST" >
            <fieldset>
                ETH txn id: <input type="text" name="eth_txn_id" placeholder="ETH txn id"/>
                <input type="submit" value="Add Bid" class="pure-button pure-button-primary"/>
            </fieldset>
        </form>

        <h3>Asks</h3>
        {% for ask in asks %}
            <p>ID: {{ ask.ask_id }}</p>
        {% endfor %}
        <form class="pure-form" action="/addask" method="POST" >
            <fieldset>
                IPDB txn id: <input type="text" name="ipdb_txn_id" placeholder="IPDB txn id"/>
                <input type="submit" value="Add Ask" class="pure-button pure-button-primary"/>
            </fieldset>
        </form>
        <a href="http://localhost:4567/u/pubkey/6gt4s1HJm6YDvSg7X7VukcGjg9N7r52tfqD6nv7SMpk9?asset=4725818866863db70d8e2a650b8acb92a8fd801dceedfc6709b5595af91ae08c&amount=3000&data=%7B%22e%22%3A+%220x222e1e3559fE0144EEF5a71e5Ba87Fe786Fb1f9e%22%7D"><button class="pure-button pure-button-primary">Pay here</button></a>
        </div>
    </div>
</section>
