<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% include "components/head_meta.html" %}
    <title>{{ title }}</title>
    {% include "components/head_includes.html" %}
</head>
<body id="top">
{% include "components/menu.html" %}

{% block body %}{% endblock %}

{% include "components/footer.html" %}

{% include "components/footer_includes.html" %}

</body>
</html>
